* {
    background-color: lightgray;
}

header {
    padding: 20px 35px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav {
    justify-content: right;
    font-size: 2.5vw;
    flex-direction: row;
    text-decoration: none;
}

/* About Me */

.about-me {
    background-color: cadetblue;
    display: flex;
    align-items: flex-end;
    flex-wrap: end;
}

.selfie {
    max-width: 15%;
    height: auto;
    border-radius: 25px;
}

/* My Projects */

#mywork {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
}

.bigimg {
    height: 25vw;
    width: auto;
    opacity: 25%;
}

.bigimg:hover {
    opacity: 100%;
}

.bottom-left {
    text-size-adjust: 2.5vw;
    position: absolute;
    bottom: auto;
    left: auto;
}

/* Contact Me */

#contact-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#contact-me img {
    height: 5vw;
    width: auto;
    align-items: flex-end;
}