/* Body */
body {
    background-color: silver;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

header {
    display: flex;
    flex-wrap: wrap;
}

nav {
    display: flex;
    flex-direction: row;
    flex-grow: auto;
    flex-shrink: auto;
    text-decoration: none;
}

/* About Me */
.about-me {
    display: flex;
    flex-direction: row;
}

.about-me-row {
}

.about-me .selfie {
    width: 25vw;
    border-radius: 100%;
}

/* My Work */

/* Contact Me */

/* Footer */
