* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a;
    color: #edf0f1;
}

/* Body */
body {
    background-color: silver;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
h1 {
    color: teal;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10%;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display:inline-block;
    padding: 0px 20px;
}

.nav-links li a:hover {
    color: teal;
}

/* About Me */
.about-me {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.about-me div {
    align-items: center;
    flex: 1;
}

.about-me .selfie {
    width: 20vw;
    height: auto;
    align-items: center;
    border-radius: 50%;
}

/* My Work */
.my-work {
    display: flex;
}

.run-buddy {
    flex: 2;
}

.run-buddy img {
    width: 40vw;
    height: auto;
}

.robot-gladiator {
    flex:1
}

/* Contact Me */
.contact-me img {
    width: 5vw;
    height: auto;
}

/* Footer */
